body {
  // line-height: 1.5;
  // font-family: $font-family;
  // font-weight: $font-weight;
  background: $background-light;
  // color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-wrapper {
	overflow: hidden;
	max-width: 414px;
	margin: 0px auto;
	background: $white;
}