.m-btn-switch {
	background: transparent;
	border: solid 1px $border-color;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	outline: none;

	&.m-btn-switch-line {
		position: relative;
		z-index: 0;
		&::before, &::after {
			content: '';
			position: absolute;
			height: 200%;
			z-index: 1;
			width: 1px;
			left: 50%;
		}
		&::before {
			top: -200%;
			@extend .m-bg-white-tb;
		}
		&::after {
			bottom: -200%;
			@extend .m-bg-white-bt;
		}
	}

	&:active, &:focus {
		background: rgba($white, 0.1);
	}

	img {
		width: 16px;
	}
}