.m-btn-switch {
	background: transparent;
	border: solid 1px $border-color;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	outline: none;
	cursor: pointer;

	&.m-btn-switch-line {
		position: relative;
		z-index: 0;
		padding: 0;
		&::before, &::after {
			content: '';
			position: absolute;
			height: 200%;
			z-index: 1;
			width: 1px;
			left: 50%;
		}
		&::before {
			top: -200%;
			@extend .m-bg-white-tb;
		}
		&::after {
			bottom: -200%;
			@extend .m-bg-white-bt;
		}
	}

	&:active, &:focus {
		background: rgba($white, 0.1);
	}

	img {
		width: 16px;
	}
}

/**
 * Radio
 */
.m-double-radio {
	display: flex;
	background: $white;
	border-radius: 50px;
	position: relative;
	z-index: 0;
	@extend .m-shadow-300;

	> label {
		flex: 0 0 50%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $text-hint;
		cursor: pointer;
		font-size: 14px;

		@extend .m-transition;

		&.active {
			color: $white;
		}

		> input[type=radio] {
			opacity: 0;
			width: 0;
			height: 0;
		}
	}

	&-bar {
		position: absolute;
		width: 50%;
		height: 100%;
		left: 50%;
		top: 0;
		background: $secondary-color;
		border-radius: 50px;
		z-index: -1;

		@extend .m-transition;
	}
}

.m-button-secondary {
	background: $secondary-color;
	color: $white;
	&:hover {
		background: $secondary-color-light;
		color: $black;
	}
	&:active, &:visited {
		background: $secondary-color-dark;
	}
}

.m-button-accent-outline {
	border: solid 1px $accent-color;
	color: $accent-color;
	background: transparent;
	&::hover {
		background: $accent-color-light;
		color: $white;
	}
}