.m-input-number {
  width: 30px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  height: 28px;
  user-select: none;
  border: none;
  font-size: 0.875rem;
  background: transparent;
}

.m-input-number-decrement,
.m-input-number-increment {
  border: 1px solid $border-color;
  height: 24px;
  user-select: none;
  display: inline-block;
  width: 24px;
  line-height: 22px;
  background: $white;
  color: $text-color;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  background-color: transparent;
}
.m-input-number-decrement:active,
.m-input-number-increment:active {
  background: $gray-light;
}

.uk-light {
  .m-input-number {
    color: $white;

    &-decrement, &-increment {
      border: solid 1px rgba(255,255,255,0.5);
      color: $white;
    }
  }
}
