.m-text-title {

}
.m-text-body1 {

}
.m-text-body2 {

}
.m-text-caption {

}

// Component with text
.m-group-text-media {
	margin-bottom: $normal-spacing;
	p {
		margin-bottom: 0;
		margin-top: 0;
	}
}