.m-normal-spacing {
	padding: $normal-spacing;
}
.m-row-small {
	margin-left: -10px;
	margin-right: -10px;
}

// Background
.m-bg-highlight-tb {
	background: $primary-color;
	// background: -webkit-linear-gradient(to bottom, -color-light, -color);
	// background: linear-gradient(to bottom, -color-light, -color);
	background-image: -webkit-linear-gradient(top left, $gradient-primary-1 0%, $gradient-primary-2 100%);
	background-image: -o-linear-gradient(top left, $gradient-primary-1 0%, $gradient-primary-2 100%);
	background-image: linear-gradient(to bottom right, $gradient-primary-1 0%, $gradient-primary-2 100%);
}

.m-bg-gradient-primary {
	background: $primary-color;
	background-image: linear-gradient(-225deg, $gradient-primary-1 0%, $gradient-primary-2 48%, $gradient-primary-3 100%);
}

.m-bg-white-tb {
	background: $primary-color;
	background: -webkit-linear-gradient(to bottom, rgba($white, 0), $white);
	background: linear-gradient(to bottom, rgba($white, 0), $white);
}
.m-bg-white-bt {
	background: $primary-color;
	background: -webkit-linear-gradient(to top, rgba($white, 0), $white);
	background: linear-gradient(to top, rgba($white, 0), $white);
}

// Other
.m-transition {
	transition: all 0.2s ease-in-out;
}
.m-no-radius {
	border-radius: 0 !important;
}
.m-no-border {
	border: none !important;
}
.m-hr-nospacing {
	margin: 0 !important;
}
.m-line-vertical {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		width: 30px;
		height: 0px;
		top: 50%;
		left: -70%;
		border-bottom: dashed 1px $border-color-2;
	}
	&::after {
		content: '';
		position: absolute;
		width: 30px;
		height: 0px;
		top: 50%;
		right: -70%;
		border-bottom: dashed 1px $border-color-2;
	}
}
.m-line-horizontal {
	display: flex;
	width: 100%;
	height: 0;
	border-bottom: dashed 1px $primary-color;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	&::before, &::after {
		content: '';
		width: 3px;
		height: 3px;
		border-radius: 3px;
		background: $primary-color;
		position: absolute;
	}
	&::before {
		left: 0;
		top: -1px;
	}
	&::after {
		right: 0;
		top: -1px;
	}
}

// Shadow
.m-shadow-300 {
	box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

// Image sizing
.m-brand-small {
	height: 20px;
	width: auto;
}
.m-brand-normal {
	height: 30px;
	width: auto;
}

// Label
.m-label-primary {
	background: $primary-color;
	// color: $text-color;
}
.m-label-secondary {
	background: $secondary-color;
	// color: $text-color;
}
